* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 1rem;
    font-family: monospace;
    font-size: 1.2rem;
}

div {
    margin: 1rem;
    border: 1px dashed;
    padding: 1rem;
}

.one {
    width: 200px;
    height: 200px;
}

.flex {
    background-color: #aba;
    display: flex;
    justify-content: center;
    align-items: center;

}

.grid {
    background-color: #abb;
    display: grid;
    place-items: center;

}

.container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

}

.two {
    background-color: #ace;
    height: 100px;
    height: 100px;
    width: 100px;
    display: grid;
    place-items: center;
}

.container3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .25rem;

}

.columns-3 {
    grid-column: 1 / -1;

}

.three {
    margin: 0;
    background-color: #abd;
}