* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    max-width: 840px;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    left: 50%;
    transform: translateX(50%);
    top: 3rem;
}

footer {
    margin-top: 1rem;
    border-top: 1px solid black;
    text-align: center;
}

/* Class Selectors */
.box {
    border: 1px solid #b71234;
    padding: 1rem;
    margin: 1rem;
    background-color: #cccaca;
    color: #1a044e;
}